*{
    margin: 20;
    padding: 30;
}

.cv-container{
   Position: relative;
   padding: 20px;
}

.profile-pic{
    position: absolute;
    top: 20px;
    left: 200px;
    width: 350px;
    height: auto;
    border-radius: 5px;
}
.name{

   margin-right: 10px;
   margin-left: 700px;
   margin-top: 50px;
   font-size: larger;
  
}
/* .cvbody{ 
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 20px;

}*/
.right{

    margin-left: 700px;
    position: relative;
    margin-top: 200px;
   
    
}
.left{
    margin-left: 200px;
    margin-top: -710px;
    position: relative;
}
hr{
    width: 40%;
    margin:0;
}

